# Praktikum Pembelajaran Mesin Lanjutan 2023

Asisten Laboratorium:<br><br>
<font size='6'> <b> Fenni Kristiani Sarumaha </b> </font> <br>
<b> Teknologi Informasi - 2019 <b>
<br><br>
    
<b><i>Keep Contact</i></b>
<ul>
    <li>Whatsapp Only: <a href="https://wa.me/6287895251477"> 087895251477 </a></li>
</ul>

### PERATURAN LAB
- Kehadiran Minimal 80% (Maksimal 2X absen)
- Izin tidak hadir langsung chat ke no WA yg tertera di atas. Dengan menyertakan data diri: Nama, NIM, Trip(1 atau 2), dan Alasan.
**Contoh: Perkenalkan nama saya Fenni, 191402035 trip 1. Saya izin tidak bisa hadir dikelas dikarenakan sakit. Surat dokter akan saya lampirkan sebagai bukti**

- Keterlambatan maksimal 10 menit agar tidak mengganggu praktikum.
- Keterlambatan diatas 10 menit mengurangi nilai absen.
- Saling menghargai dan tidak membuat keributan.
- Dilarang menduplikasi tugas teman.
- Materi Praktikum bisa dilihat dan didownload dari Github (<a href="https://github.com/fenniks11/lab_pml_2023">github.com/fenniks11/lab_pml_2023</a>)

### PENILAIAN
<ul>
    <li>Kehadiran: <b>10%</b></li>
    <li>Keaktifan: <b>20%</b></li>
    <li>Ujian (Praktek): <b>30%</b></li>
    <li>Tugas Mingguan: <b>40%</b></li>
</ul>

### DATA PRAKTIKAN LAB PML 2023

In [6]:
import pandas as pd
df = pd.read_excel('LabPML2023.xlsx')
# drop the "No" column
df = df.drop('No', axis=1)

In [7]:
df.head()

                           Nama        NIM  Sesi
0                   Sri Wahyuni  191402045     1
1  Brian Christopel Simanjuntak  191402091     1
2                 Indah Safitri  201402006     1
3         Muhammad Iqbal Manalu  201402011     1
4         Pahwana Br Sinulingga  201402013     1

In [8]:
n = df['NIM'].count()
print('Total Praktikan =', n)

Total Praktikan = 38

In [9]:
# Filter Data Praktikan Trip 1
df[df['Sesi']==1]

                             Nama        NIM  Sesi
0                     Sri Wahyuni  191402045     1
1    Brian Christopel Simanjuntak  191402091     1
2                   Indah Safitri  201402006     1
3           Muhammad Iqbal Manalu  201402011     1
4           Pahwana Br Sinulingga  201402013     1
5                   Ridha Arrahmi  201402015     1
6                Ullayya Zhafirah  201402017     1
7                    Atikah Husna  201402020     1
8              Citra Wahyuni Amri  201402021     1
9                   Ivan Tandella  201402022     1
10    Fildzah Zata Amani Nasution  201402030     1
11           Dorma Ulina Pasaribu  201402039     1
12               Herzinanda Putra  201402043     1
13            Indah Zahrani Lubis  201402047     1
14    Kelvin Nathanael Lumbanraja  201402050     1
15  Kevin Tulus Ricardo Silitonga  201402051     1

In [10]:
# Filter Data Praktikan Trip 2
df[df['Sesi']==2]

                                    Nama        NIM  Sesi
16                    Nanda Rizki Amelia  201402060     2
17                Teruna Tegar Matondang  201402069     2
18                     Tsabitah Muflihza  201402070     2
19           Wahyu Sony Pratama Marpaung  201402072     2
20                   Wynne Jovita Taslim  201402074     2
21               Yeftha El Imani Pardede  201402075     2
22       Dominique Ametha Perangin Angin  201402076     2
23      Mikhael Aditha Sembiring Meliala  201402079     2
24                 Pretty Ohara Hutasoit  201402084     2
25                  Syavira Nur Khairani  201402087     2
26                      Kayla Alysa Adra  201402088     2
27                  Nayla Rahmi Nasution  201402097     2
28         Mhd Afifan Aly Rahman Saragih  201402099     2
29              Vanissya Arbashika Putri  201402103     2
30                          Dara Fadilah  201402106     2
31  Muhammad Daud Arbani Asfi Dalimunthe  201402108     2
32  Lasmaria Katrina Angelina Nainggolan  201402110     2
33                         Nayli Hazirah  201402113     2
34          Febri Naomi Sofia Tampubolon  201402117     2
35                   Afdoni Prabawa Said  201402118     2
36              Amelia Angelita Silalahi  201402128     2
37                 Grace Stefany Siagian  201402146     2

### OUTLINES
1. MCCulloch-Pitts & Hebb Rule
2. Perceptron (Delta Rule)
3. Multi Layer Perceptron I
4. Multi Layer Perceptron II
5. Kuis
6. Backpropagation I
7. Backpropagation II
8. Backpropagation III(Update Weight)
9. CNN I
10. CNN II-Closing

### LIBRARIES YANG DIGUNAKAN
Note: **<u>Segera install!</u>**
<ul>
    <li>Numpy</li>
    <li>Pandas</li>
    <li>Seaborn</li>
    <li>Sklearn</li>
    <li>Matplotlib</li>
    <li>dll.</li>
</ul>

_Bila ada tambahan library yang akan digunakan, akan diinformasikan kepada komting._